<%= form_with url: movie_path do |f| %>

  <p><%= f.label :item_url, '商品ページURL' %></p>
  <p><%= f.text_field :item_url %></p>

  <p><%= f.label :file, '動画データ' %></p>
  <p><%= f.file_field :file %></p>

  <p><%= f.label :item_link, '関連アイテムリンク' %></p>
  <p>
    <%= f.text_field :item_link %>
    <%= f.text_field :item_link %>
  </p>

  <p><%= f.label :text, 'テキスト入力' %></p>
  <p><%= f.text_area :text %></p>

  <%= link_to movie_path do %>
   <%= button_tag 'キャンセル', type: :button %>
  <% end %>
  <%= f.submit '登録する' %>
<% end %>

