<% provide(:title, "動画管理") %>

<%= render partial: 'layouts/header' %>

<section class="hero is-fullheight video-index">
  <div class="hero-head">
    <div class="container my-6">
      <div class="level">
        <div class="level-left">
          <h1 class="level-item title">動画管理</h1>
        </div>
        <div class="level-right">
          <%= link_to "＋動画を登録する", new_movie_path, class: 'level-item button is-primary px-6' %>
        </div>
      </div>
      <div class="box">
        <div class="table-container">
          <table class="table is-fullwidth is-hoverable">
            <thead>
            <tr>
              <th>ID</th>
              <th>商品URL</th>
              <th>動画</th>
              <th>公開状態</th>
              <th>削除</th>
            </tr>
            </thead>
            <tbody>
            <% @video.each do |v| %>
              <tr>
                <th class="is-vcentered"><%= v.id %></th>
                <td class="is-vcentered"><a href="<%= v.item_url %>"><p><%= v.item_url %></p></a></td>
                <td class="is-vcentered">
                  <video width="200" preload="none" controls
                         src="<%= v.file %>">
                  </video>
                </td>
                <td class="is-vcentered">
                  <div id="status-<%= v.id %>" class="switch-area <%= v.published? ? 'is-active' : '' %>">
                    <%= link_to("/movie/#{v.id}/status", data: {confirm: '公開状態を変更しますか？'}, method: :put, class: "", remote: true) do %>
                      <label><span></span></label>
                      <div class="sw-img"></div>
                    <% end %>
                  </div>
                </td>
                <td class="is-vcentered">
                  <%= link_to "/movie/#{v.id}", :method => :delete do %>
                    <p class="delete"></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>
      <%= paginate @video %>
    </div>
  </div>
</section>

<script>
    $(function () {
        const sa = $(".switch-area")
        sa.on("ajax:success", function (event) {
            $(event.currentTarget).toggleClass("is-active");
        })
        sa.on("ajax:error", function () {
            alert('更新に失敗しました')
        })
    })
</script>
