<% provide(:title, "videos") %>
<h1>動画一覧ページ</h1>

<% @video.each do |v| %>
  <p><%= v.id %></p>
  <p><%= v.item_url %></p>
  <p><%= v.file %></p>
  <p><%= v.file.size %></p>
  <p><%= v.capacity %></p>
  <p><%= v.text %></p>
  <p><%= v.status %></p>
<% end %>


<%= link_to "作成", movie_add_path %>
<%= link_to "ログアウト", logout_path, method: :delete %>
