<% provide(:title, "動画管理") %>

<%= render partial: 'layouts/header' %>

<section class="hero is-fullheight">
  <div class="hero-head">
    <div class="container my-6">
      <div class="level">
        <div class="level-left">
          <h1 class="level-item title">動画管理</h1>
        </div>
        <div class="level-right">
          <%= link_to "＋動画を登録する", movie_add_path, class: 'level-item button is-primary px-6' %>
        </div>
      </div>
      <div class="box">
        <div class="table-container">
          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
            <tr>
              <th>ID</th>
              <th>商品URL</th>
              <th>動画</th>
              <th>公開状態</th>
              <th>削除</th>
            </tr>
            </thead>
            <tbody>
            <% @video.each do |v| %>
              <tr>
                <th class="is-vcentered"><%= v.id %></th>
                <td class="is-vcentered"><a href="<%= v.item_url %>"><p><%= v.item_url %></p></a></td>
                <td class="is-vcentered">
                  <video width="200" preload="none" controls
                         src="<%= v.file %>">
                  </video>
                </td>
                <td class="is-vcentered"><%= v.status %></td>
                <td class="is-vcentered">
                  <%= link_to movie_path, :method => :delete do %>
                    <p class="delete"></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
