<% provide(:title, "動画管理") %>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-fullheight">
  <div class="hero-head">
    <div class="container my-6">
      <div class="level">
        <div class="level-left">
          <h1 class="level-item title">動画管理</h1>
        </div>
        <div class="level-right">
          <button class="level-item button is-primary px-6">＋動画を登録する</button>
        </div>
      </div>
      <div class="box">
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
          <tr>
            <th>ID</th>
            <th>商品URL</th>
            <th>動画</th>
            <th>公開状態</th>
            <th>削除</th>
          </tr>
          </thead>

          <tbody>
          <% @video.each do |v| %>
            <tr>
              <th><%= v.id %></th>
              <td><a href="<%= v.item_url %>"><p><%= v.item_url %></p></a></td>
              <td>
                <video width="200" preload="none" controls
                       src="<%= v.file %>">
                </video>
              </td>
              <td><%= v.status %></td>
              <td><%= icon('far', 'times-circle') %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

